
@charset "utf-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);
/* reset - 브라우저에서 잡고있는 기본 style을 모두 초기화 */
html, body, h1, h2, h3, h4, h5, h6, div, p, ul, ol, li, dl, dt, dd, address, blockquote, header, main, section, article, aside, figure, figcaption, nav, footer {display: block; margin: 0; padding: 0;}
li {list-style-type: none;} /* 글머리기호 초기화 */
a {text-decoration: none; color: inherit; cursor: pointer;}

body{ font-family: 'NanumSquare', sans-serif; color: #333; font-size: 16px; }
img, label,input,select,textarea,button,a{vertical-align: middle;}
img, fieldset,input,select,textarea,button{border: none;}
.blind{
font-size: 0;
line-height: 0;
height: 0;
overflow: hidden;
text-indent: -9999px;}
a, button{background: none; border: none;}